name: Build and Release Scraping Manhwa Manga

on: 
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: x86
            bit_name: 32bit
          - arch: x64
            bit_name: 64bit
            
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          architecture: ${{ matrix.arch }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build with PyInstaller
        run: |
          pyinstaller --onefile --noconsole --name "Scraping Manhwa Manga ${{ matrix.bit_name }}" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: exe-files-${{ matrix.bit_name }}
          path: dist/*.exe

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-exes
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: SA1.v${{ github.run_number }}
          name: Release Build Scraping ACMT ${{ github.run_number }}
          draft: false
          prerelease: false
          files: all-exes/*.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}